* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  background-image: url('assets/benjamin-voros-phIFdC6lA4E-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

footer {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: rgb(105, 105, 105);
  backdrop-filter: blur(20px);
}

footer .icon {
  width: 50px;
  padding: 3px; 
  height: 50px;
  border-radius: 7px;
  transition: all ease 0.3s;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: all linear 0.2s;
}

.icon:hover {
  transform: scale(1.2) translateY(-10px);
}

.icon:hover+.icon,
.icon:has(+ .icon:hover) {
  transform: scale(1.1) translateY(-5px);
}

.github {
  background-color: rgb(83, 82, 82);
}

.instagram {
  background-color: rgb(170, 44, 96);
}

.link {
  background-color: white;
}

.mail {
  background-color: rgb(83, 122, 122);
}

.notes {
  background-color: antiquewhite;
}

.spotify {
  background-color: rgb(25, 145, 119);
}

.terminal{
  background-color: #fff;
}

nav {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgba(41, 41, 41, 0.87);
}

nav .left_nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav .left_nav li a {
  text-decoration: none;
  color: white;
}

nav .right_nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav .right_nav ul li {
  color: white;
  cursor: pointer;
}

.time_box {
  display: flex;
  gap: 10px;
}

.window {
  height: 100%;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  color: white;
  overflow: hidden;
}

.window .nav {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid rgb(99, 95, 95);
}

.dots_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.red_dot {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.yellow_dot {
  width: 15px;
  height: 15px;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
}

.green_dot {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  cursor: pointer;
}

.main-drag-box {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.all_cards {
  width: 100%;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.all_cards .card_img_box {
  width: 60%;
  height: 200px;
  border-radius: 10px;
}

.all_cards .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.all_cards .card {
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 10px;
  background-color: rgb(52, 52, 53);
  margin-bottom: 10px;
  border-radius: 10px;
}

.card .card_tag_box {
  display: flex;
  gap: 10px;
}

.card button {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
}

.card h2 {
  font-size: 30px;
}

.card p {
  color: rgb(148, 149, 150);
}

.card .card_links_box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card_links_box a {
  text-decoration: none;
  color: aqua;
  font-size: 20px;
}

.note_window {
  padding: 5px;
  overflow: scroll;
  scrollbar-width: none;
  height: 100%;
  background-color: rgb(52, 52, 53);
  padding-bottom: 40px;
  border-radius: 10px;
}

embed {
  width: 100%;
  height: 100%;
}

.main_insta {
  margin: 0 auto;
  width: 60%;
  border-radius: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.205);
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
  cursor: pointer;
}

.insta_navigation {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.insta_navigation:active {
  transform: scale(0.95);
}

.insta_footer {
  width: 59%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(41, 41, 40, 0.815);
  padding: 0 10px;
  position: fixed;
  bottom: 0%;
}

.insta_home {
  width: 100%;
  height: 100%;
}

.insta_home_header {
  width: 100%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insta_home_header .insta_home_header_story_box {
  width: 80px;
  height: 70%;
  border-radius: 50%;
  background: linear-gradient(red, blue, red, blue);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insta_home_header_story_box img {
  width: 94%;
  height: 94%;
  object-fit: cover;
  border-radius: 50%;
}

.insta_home_main_box {
  width: 100%;
  overflow: auto;
}

.insta_post_box {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.insta_home_main_box .insta_post_header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 10px;
  background-color: rgb(35, 36, 36);
}

.insta_post_header img {
  width: 30px;
  height: 50%;
  border-radius: 50%;
}

.insta_home_main_box .insta_post_main_img {
  width: 100%;
  height: 290px;
  position: relative;
}

.insta_post_main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insta_home_main_box .insta_post_footer {
  width: 100%;
  height: 50px;
  background-color: rgb(35, 36, 36);
  display: flex;
}

.insta_post_footer div {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.insta_post_footer i {
  font-size: 25px;
}

.insta_post_footer h5 {
  font-size: 20px;
}

.story_view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  position: relative;
}

.story_view img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story_line {
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 0;
}

.inner_line {
  height: 5px;
  background: #000;
}

.insta_post_main_img .like {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg) scale(0);
  transition: all ease 0.3s;
  background: linear-gradient(red, purple, rgb(87, 87, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.explore_main_box {
  width: 100%;
  height: 100%;
}

.explore_search_box {
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 6px;
  padding-top: 10px;
  position: relative;
}

.explore_search_box input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 2px;
  border: none;
  outline: none;
  font-size: 18px;
}

.explore_search_box i {
  position: absolute;
  right: 4%;
  color: black;
  font-size: 30px;
}

.explore_posts_box {
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
  padding-bottom: 60px;
}

.explore_posts_box .explore_box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.explore_box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: all ease 0.3s;
}

.explore_box img:hover {
  transform: scale(1.2);
}

.reel_main_box {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.reel_main_box .reel_box {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
}

.reel_box .reel_bottom {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}

.reel_box .reel_left {
  width: 20%;
  position: absolute;
  right: 0;
  top: 20%;
}

.reel_left div {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  justify-content: center;
}

.reel_left i {
  font-size: 30px;
}

.reel_left p:active {
  transform: scale(0.90);
}

.reel_bottom .reel_profile_box {
  width: 100%;
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
}

.reel_profile_box img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reel_bottom .reel_description_box {
  padding: 10px;
}

.reel_btn {
  padding: 2px 4px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.reel_btn:active {
  transform: scale(0.95);
}

.reel_box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reel_like {
  position: absolute;
  font-size: 100px;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  transition: all ease 0.3s;
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.insta_profile_main_box {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.insta_profile_img_box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.insta_profile_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.insta_profile_details_box h2 {
  font-size: 30px;
}

.insta_profile_details_box h3 {
  margin-bottom: 10px;
}

.insta_profile_details_box {
  text-align: center;
  margin-bottom: 10px;
}

.profile_detail_inner_box {
  display: flex;
  justify-content: space-evenly;
}

.profile_detail_inner_box div {
  display: flex;
  gap: 8px;
  padding: 5px;
}

.insta_profile_btns_box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.insta_profile_btns_box button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.spotify_main_box {
  width: 100%;
  height: 100%;
}

.spotify_main_box iframe {
  width: 100%;
  height: 100%;
}

.terminal_box{
  width: 100%;
  height: 100%;
}

.terminal_box .terminal{
  width: 100%;
  height: 100%;
}